<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4" style="width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{movie.image}}" class="card-img" alt="Movie Poster">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text"><strong>Director:</strong> {{movie.director}}</p>
              <p class="card-text"><strong>Stars:</strong> {{movie.stars}}</p>
              <p class="card-text"><strong>Description:</strong> {{movie.description}}</p>
              <p class="card-text"><strong>Showtimes:</strong> {{movie.showtimes}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
